!!! 5
%html
  %head
    %title Wally
  %body
    = @feature["name"]
    = @feature["description"]
    - if @feature["elements"]
      - @feature["elements"].each do |element|
        = "#{element["keyword"]}: #{element["name"]}"
