%h1= @scenario["keyword"] + ": " + @scenario["name"]
- if @background
  = @background["keyword"] + ":"
  - @background["steps"].each do |step|
    = step["keyword"] + step["name"]
- if @scenario["tags"]
  %p{:class => 'tags'}
    - @scenario["tags"].each do |tag|
      %a{:href => '/search?q=' + tag["name"]}
        = tag["name"]
- if @scenario["steps"]
  %p
    - @scenario["steps"].each do |step|
      = step["keyword"] + step["name"] + '<br/>'
- else
  %p{:class => 'nosteps'}
    = "Where's Wally? This scenario has no steps!?"