%h1 
  = "Search for '#{@q}'"
- if @features
  - @features.each do |feature|
    %a{:href => "/features/#{feature['id']}"} 
      = feature["name"]
  - if (@features.length == 0)
    %p{}
      = "Where's Wally? This search returned no results."