%h2
  = @feature.gherkin["name"]
%p
  from
  %em
    = @feature.path
%section{:class=>"scenarios"}
  %section{:class => 'feature'}
    :markdown
      #{@feature.gherkin["description"]}
  - if @feature.gherkin["description"]
    %h2 Comments:
    %p
      - if @feature.gherkin["comments"]
        - @feature.gherkin["comments"].each do |comment|
          %p
            %i
              = comment["value"][1..-1]
      - else
        %i No comments.
    %h2 Scenarios
    %ul
      - get_sorted_scenarios(@feature).each do |scenario|
        %li
          %a{:href => get_scenario_url(scenario)}
            = scenario["name"]
          - if scenario["tags"]
            = haml :tag_links, {:locals => {:tags => scenario["tags"]}, :layout => false}
