%h2
  Progress
- if tag_count
  %p
    This project has #{scenario_count} scenarios, of which :-
  %ul{:class => 'chartlist'}
    - tag_count.each do |tag, count|
    - ratio = (count.to_f / scenario_count) * 100
      %li{:class => "#{tag.downcase.gsub("@", "")}"}
        %a{:href => "/projects/#{current_project.name}/search?q=#{tag}"}
          = "#{tag} (#{ratio.ceil}%)"
        %span{:class => "count #{tag}"}
          = ratio.ceil
        %span{:class => "index", :style => "width: #{ratio.ceil}%"}
          = ratio
