%h2
  %a{"href" => '../'}
    = @feature["name"]
%h2
  = @scenario["name"]
  - if @scenario["tags"]
    = haml :tag_links, {:locals => {:tags => @scenario["tags"]}, :layout => false}
- if @background
  %h3
    = @background["keyword"] + ":"
  - @background["steps"].each do |step|
    %p
      %span.step-keyword
        &= step["keyword"]
      = step["name"]
- if @scenario["steps"]
  %h3 Steps:
  - @scenario["steps"].each do |step|
    %p
      %span.step-keyword
        = step["keyword"]
      = escape_once(step["name"])
- else
  %p{:class => 'alert-message error'}
    = "Where's Wally? This scenario has no steps!?"
- if @scenario["examples"]
  %h3 Examples:
  %table{:class => 'zebra-striped'}
    - @scenario["examples"].first["rows"].each_with_index do |row, index|
      %tr
        - row["cells"].each do |cell|
          - if index === 0
            %th
              = escape_once(cell)
          - else
            %td
              = escape_once(cell)

