%h2
  = @scenario["keyword"] + ": " + @scenario["name"]
  - if @scenario["tags"]
    = haml :tag_links, {:locals => {:tags => @scenario["tags"]}, :layout => false}
- if @background
  %h3
    = @background["keyword"] + ":"
  - @background["steps"].each do |step|
    %p
      %span.step-keyword
        = step["keyword"]
      = step["name"]
- if @scenario["steps"]
  %h3 Steps:
  - @scenario["steps"].each do |step|
    %p
      %span.step-keyword
        = step["keyword"]
      = step["name"]
- else
  %p{:class => 'nosteps'}
    = "Where's Wally? This scenario has no steps!?"
