- if params[:q]
  %h2
    = "Search for '#{params[:q]}'"
  - if @search_results.suggestion
    %p
      Did you mean
      %a{:href => "/search?q=#{@search_results.suggestion}"}
        = @search_results.suggestion
  %ul
    - @search_results.items.each do |search_result|
      %li
        %a{:href => "/features/#{search_result.feature["id"]}"}
          = search_result.feature["name"]
        - if search_result.feature["tags"]
          = haml :tag_links, {:locals => {:tags => search_result.feature["tags"]}, :layout => false}
        %ul
          - if search_result.scenario && search_result.scenario["id"]
            %li
              %a{:href => "/features/#{search_result.scenario["id"].gsub(";", "/scenario/")}"}
                = search_result.scenario["name"]
              - if search_result.scenario["tags"]
                = haml :tag_links, {:locals => {:tags => search_result.scenario["tags"]}, :layout => false}
- else
  %p Where's Wally? This search returned no results.
