%h2
  = "Search for '#{params[:q]}'"
- if params[:q]
  %ul
    - @search_results.each do |search_result|
      %li
        %a{:href => "/features/#{search_result.feature["id"]}"}
          = search_result.feature["name"]
        %ul
          - search_result.matched_scenarios.each do |scenario|
            %li
              %a{:href => "/features/#{scenario["id"].gsub(";", "/scenario/")}"}
                = scenario["name"]
- else
  %p Where's Wally? This search returned no results.
